@page
@model OurFirstApp.Pages.Employees.IndexModel
@{

}

<h1>Employees</h1>
<h2>This will be the future list of employees</h2>
<h2>This will be the future list of employees</h2>
<h2>This will be the future list of employees</h2>