@page
@model Week6Assignment.Pages.Employees.IndexModel
@{
    <h1>Employees</h1>
    <h4>I am struggling to figure out this GitHub connection. I am hoping through youtube and other readings I get a better hang of things. I can recognize why it is nice for things so once I get a hang on things it will go smoothly.</h4>
}
